@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

@layer base {
  :root {
    --background: 28 53% 98%;
    --foreground: 28 78% 1%;
    --muted: 208 11% 93%;
    --muted-foreground: 208 2% 30%;
    --popover: 28 53% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 28 53% 97%;
    --card-foreground: 0 0% 0%;
    --border: 28 13% 89%;
    --input: 28 13% 89%;
    --primary: 28 85% 76%;
    --primary-foreground: 28 85% 16%;
    --secondary: 208 85% 76%;
    --secondary-foreground: 208 85% 16%;
    --accent: 208 85% 76%;
    --accent-foreground: 208 85% 16%;
    --destructive: 20 94% 42%;
    --destructive-foreground: 0 0% 100%;
    --ring: 28 85% 76%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 28 52% 4%;
    --foreground: 28 10% 98%;
    --muted: 208 11% 7%;
    --muted-foreground: 208 2% 70%;
    --popover: 28 52% 5%;
    --popover-foreground: 28 10% 99%;
    --card: 28 52% 5%;
    --card-foreground: 28 10% 99%;
    --border: 28 13% 13%;
    --input: 28 13% 13%;
    --primary: 28 85% 76%;
    --primary-foreground: 28 85% 16%;
    --secondary: 208 85% 76%;
    --secondary-foreground: 208 85% 16%;
    --accent: 208 85% 76%;
    --accent-foreground: 208 85% 16%;
    --destructive: 20 94% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 28 85% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grainy {
  background-image: url("/grainy.png");
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 0.5;
  background-color: hsl(var(--card));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.5;
  background-color: hsl(var(--primary) / 0.5);
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 7px;
}
